/* fonts  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/*===== Variable css =====*/

:root {
  /*===== Colors =====*/
  --first-color: #0b9d8a;
  --first-color-alt: #048654;
  --title-color: #242e41;
  --black-color1: #333;
  --black-color2: #1d1d1d;
  --black-color3: #2f2e41;
  --title-color2: #7a72ff;
  --text-color: #7c7c7c;
  --lightGrey: #555;
  --lightGrey2: #868686;
  --darkGrey: #3d3d3d;
  --body-color: #1d1d1d;
  --White: #fff;
  --mainWhite: #f5f5f5;
  --labelColor: #f76b6a;
  /*  Gradient colors  */

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 600;
  /*========== Margin ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mt-1: 0.5rem;
  --mt-2: 1rem;
  --mt-3: 1.5rem;
  --mt-4: 2rem;
  --mt-5: 2.5rem;
  --mt-6: 3rem;
  /*========== z index ==========*/
}

/*========== basic ==========*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--White);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*===== navigation =====*/

nav {
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 100;
}
.social__icons {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  margin: 0px 5px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}
.phone {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 30px;
  font-size: 1rem;
}
.social a:hover {
  color: var(--first-color);
  transition: all ease 0.5s;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}
.logo img {
  height: 30px;
}
.menu {
  display: flex;
}
.menu li {
  position: relative;
  margin: 20px;
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
}
.menu li a {
  color: var(--lightGrey);
}
.menu__right a {
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
}
.menu a:hover,
.menu__right a:hover,
.search__cancel:hover,
.form__cancel:hover {
  color: var(--first-color);
  transition: all ease 0.5s;
}

.sale-label {
  width: 38px;
  height: 17px;
  background-color: var(--labelColor);
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  right: -20px;
}
.sale-label::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 3px solid transparent;
  border-top: 7px solid var(--labelColor);
  border-right: 5px solid transparent;
  position: absolute;
  left: 10%;
  top: 100%;
}
.fa-shopping-cart {
  position: relative;
}
.num-cart-product {
  position: absolute;
  top: -17px;
  right: -17px;
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: var(--first-color);
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.search-bar {
  width: 100%;
  height: 300px;
  background-color: var(--White);
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
  z-index: 101;
  animation: search 0.3s;
}
.search__input {
  width: 90%;
  border-bottom: 2px solid var(--lightGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}
.search__input input {
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  font-size: 2rem;
  margin: 20px;
  padding: 0px 20px;
}
.search__cancel {
  color: #272727;
  font-size: 2rem;
  padding-right: 40px;
}
.search-bar {
  display: none;
}
.search-bar-active {
  display: flex;
}
@keyframes search {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: 0px;
  }
}
.form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 102;
}
.login__form,
.singUp__form {
  width: 420px;
  padding: 20px 10px;
  background-color: var(--White);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  position: relative;
}
.login__form form,
.singUp__form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.login__form strong,
.singUp__form strong {
  color: #272727;
  font-size: 2rem;
  margin: 2px 7px 7px 7px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.login__form input,
.singUp__form input {
  width: 90%;
  height: 45px;
  margin: 6px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 7px;
}
.login__form input::placeholder,
.singUp__form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.login__form input[type="submit"],
.singUp__form input[type="submit"] {
  background-color: var(--first-color);
  color: var(--White);
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}
.form__btn {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.form__btn a {
  color: #4d4d4d;
  font-size: 0.9rem;
}
.sign-up-btn {
  border-bottom: 1px solid var(--lightGrey2);
  line-height: 16px;
}
.form__cancel,
.form__cancel2 {
  position: absolute;
  right: 20px;
  top: 10px;
  color: var(--lightGrey2);
}
.login__form,
.singUp__form,
.form {
  display: none;
}
.login-active,
.login-active .login__form {
  display: flex;
  animation: fade 0.3s;
}
.signUp-active,
.signUp-active .singUp__form {
  display: flex;
  animation: fade 0.3s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*===== slider =====*/

.fullSlider__box {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fSlider__1 {
  background-image: url("../images/Slider_01.jpg");
}
.fSlider__2 {
  background-image: url("../images/Slider_02.jpg");
}
.fSlider__3 {
  background-image: url("../images/Slider_03.jpg");
}
.slider__container {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
}
.slider__content {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.slider__content strong {
  color: var(--black-color1);
  font-size: 3rem;
  line-height: 55px;
  margin-top: 10px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.slider__content span {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
  color: #666;
  font-size: 1.2rem;
}
.slider__btn {
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  background-color: var(--first-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
}
.slider__content font {
  color: var(--first-color);
}
/*===== Featured =====*/
.featured__heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured__heading h2,
.arrival__heading strong {
  font-size: 1.5rem;
  color: #1b1919;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
  padding: 5px 30px;
  border: 1px solid #e0e0e0;
}
.feature__box {
  width: 155px;
  height: 155px;
  margin: 0 20px;
  border-radius: 10px;
  overflow: hidden;
}
.feature__box a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item span {
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;
  color: #444;
}
#autoWidth {
  display: flex;
  align-items: center;
  justify-content: center !important;
  margin: 10px auto 40px auto;
}
/*===== new Arrival =====*/
.new-arrival{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrival__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.arrival__heading strong {
  color: var(--White);
  background-color: #202020;
  font-weight: 500;
}
.arrival__heading p {
  color: #808080;
  margin: 10px;
  font-size: 0.9rem;
}
.product__container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
  margin:20px auto 0 auto ;
}
.product__box {
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  margin: 20px;
}
.product__img {
  width: 200px;
  height: 210px;
  margin: 20px;
  cursor: pointer;
  position: relative;
}
.product__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.product__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid #f3f3f3;
}
.p__name {
  color: #727272;
}
.p__price {
  color: #333;
  font-size: 1.2rem;
  font-weight: 400;
}
.product__box:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.07);
}
.add-cart {
  position: absolute;
  right: -20px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  background-color: var(--first-color);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display:none;
  animation: fade 0.3s;
}
.add-cart:hover {
  background-color: var(--labelColor);
  transition: all ease 0.3s;
}
.product__box:hover .add-cart {
  display: flex;
}
